.carousel-button-group{
    position: relative;
    float: right;
    // margin-top: 1rem;
    margin-right: 2rem;
    // bottom: 1%;
    // margin: 3rem;
    // left: 47%;
    // margin-bottom: 4rem;
    // border: 1px solid white;

    .caro-btn{
        background: none;
        border: none;
        padding: 5px;
        font-size: 25px;
        // border: 1px solid white;

        // margin-bottom: 4rem;

    }
    
}
@media (width<=930px) {
    .carousel-button-group{
        float: unset;
        text-align: center;
        margin-right: unset;
    }
}
.place{
    margin-top: 3rem;
    width: 100%;
    h4{
        padding: 2rem;
        height: auto;
        font-family: 'GTAmerica';
        font-weight: 100;
    }
    
}
.slides{
    width: 23rem;
    max-width: 26rem ;
    margin: 0;
    cursor: grab;
    height: 20rem;
    margin-left: 1rem;
    overflow: hidden;
    position: relative;

    .overlay2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 95%;
        background:rgba(0, 0, 0, .7);
        opacity: 0;        // transform: rotateX(45deg);
        animation: fadeInUp 2s 2s;
         animation-fill-mode: forwards;
        // transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        bottom: 10px;
        // top: 10px;
        // display: none;
       
        
    }

    .start-box{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 98%;
        padding: 40px 15px;
        height: 100%;

        h2{
            font-weight: 400;
            font-family: 'Saol';
            font-weight: 700;
        }
     
        h6{
            color: #2563eb;
            font-family: 'GTAmerica';
            font-weight: 100;
            font-size: 10px;
        }
        
        p{
            line-height: 130%;
            font-family: 'GTAmerica1';
            font-weight: 100;
            font-size: 13px;
        }
        a{
            font-family: 'GTAmerica';
            font-weight: 100;
            font-size: 12px;
        }

    }
   
    &:hover{
        .overlay2{
            opacity: 0.1;
            transform-origin: right bottom;
            transform: skewY(-2deg) ;
            // bottom: 0;
            // animation: fadeInUp 2s 2s;
            // animation-fill-mode: forwards;
            

        }
        a{
           a{
            color: #3b82f6;
           }
           
        }
    }

   
}
.disable{
    opacity: 0.2;
}
@media (width <= 820px) {
    .slides{
        width: 21rem;
    }
}
@media (width <= 420px) {
    .slides{
        width: 18rem;
    }
}

