

.menu-modalCon{
    position: fixed;
    z-index: 10;
    // background-color: black;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    // transform-style: preserve-3d;
    // animation: fadeIn 1s forwards;
    // animation-delay: 1s;


    
    .overlay{
        background-color: black;
        position: absolute;
        width: 100%;
        height: 100%;
        // z-index: 10;
        transform: skewY(-2.8deg);
        top: -13%;


    }

    .modal{
        display: flex;
        flex-direction: column;
        gap: 6rem;
        width: 95%;
        height: 85%;
        // transform: skewY(5deg);
        margin-top: 2rem;
        font-weight: 600;
        // overflow: hidden;
        z-index: 12;


        .menu-top{
            display: flex;
            // flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
            width: 100%;


            .top-left{
                display: flex;
                gap: 2rem;
                // justify-content: space-evenly;
                align-items: center;
               
                .left-search{
                    display: flex;
                    gap: 1rem;
                    #search{
                        font-size: 12px;
                        opacity: 0.5;
                    }
                    input{
                        background: none;
                        outline: 0;
                        border: none;
                        font-size: 12px;
                    }

                }
            }
            .top-mid{
                width: 400px;
                padding-top: 5px;
            }
            .top-right{
                display: flex;
                // gap: 5rem;
                // align-items: center;
                // border: 1px solid white;

                button{
                    position: relative;
                    background: none;
                    border: none;
                    outline: 0;
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;

                    &::after{
                        content: '';
                        position: absolute;
                        width: 50%;
                        height: 0.175rem;
                        left: 28%;
                        // right: 5;
                        bottom: -10px;
                        background: #fff;
                    }
                }
            }
        }
        .menu-body{
            display: flex;
            gap: 4rem;
            // flex-direction: row-reverse;
            flex-wrap: wrap ;
            justify-content: space-between;
            // align-items: center;
            
            .body-left{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 35%;
                flex: 1 1 auto;
                margin-top: 1rem;

                h4{
                    font-size: 15px;
                }

                // 

                    img{
                        width: 100%;
                        min-width: 200px;
                    }
                
              
                .left-bot{
                    display: flex;
                    justify-content: space-between;
                    gap: 2rem;
                    // font-weight: 700;

                    #blue{
                            color: rgb(84, 84, 225);
                        }
                }
            }
            .body-right{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                flex: 2 1 auto;
                // margin: 1rem;
                flex-wrap: wrap;
                // border:1px solid white;
                .logo1-con{
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid white;
                    padding: 5px;
                    padding-bottom: 10px;
                    // flex-direction: column;
                    gap: 3rem;
                    a{
                        color: white;
                        font-weight: 600;
                
                       
                    }
                    .logo1{
                        font-size: 27px;
                        padding-top: 10px;
                    }
                
                    // ul li{
                    //     color: white;
                    // }
                
                    .dropdown{
                        width: max-content;
                        display: relative;
                        z-index: 100;
                        
                        .drop-btn{
                            background: none;
                            border: none;
                            color: white;
                            font-weight: 600;
                        }
                        
                        .menu{
                            opacity: 0;
                            transform: scale(0);
                            height: 0px;
                           position: absolute;
                           z-index: 101;
                           transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
            
                            a{
                                font-size: 14px;
                                
                            }
                           
                        }
                        &:hover{
                            .drop-btn{
                                opacity: 0.6;
                            }
                          .menu{
                            opacity: 1;
                            transform: scale(1);
                          }
                        }
                       
                    }
                   
                   
                
                }

                .main-right{
                    .right-bod{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 3rem;
                        margin-top: 1rem;
                        // justify-content: space-between;
                        .rights{
                            display: flex;
                            flex-direction: column;
                            padding: 5px;
    
                            a{
                                font-size: 17px;
                                padding-bottom: 5px;
                                font-weight: 400;

                                &:hover{
                                    color: aqua;
                                }
                            }
    
                            p{
                                opacity: 0.4;
                                font-size: 15px;
                                padding-bottom:  1rem;
                            }
    
                        }
                    }
                }
            
                .handles{
                    padding: 5px;
                    opacity: 0.6;
                    padding-right: 10px;
                }
            }
        }
    }
}
@media (width <= 1300px) {
    .menu-modalCon{
        .overlay{
            top: -18%;
        }
        .modal{
            .menu-body{
                .body-left{
                width: 33%;

                }
            }
        }
    }
}
@media (width <= 1180px) {
    .menu-modalCon{
        .overlay{
            top: -5%;
            height: 117vh;
        }
       .modal{
       
        .menu-body{

            gap: 4rem;
            .body-left{
                margin-top: 4rem;
                width: 5%;
                height: fit-content;
                flex: 1 1 auto;
            img{
                width: 100%;
                height: 93%;
            }
           } 
           .body-right{
            flex: 1 1 auto;
            width: 32%;
            gap: 1rem;

            .logo1-con{
                .logo1{
                    font-size: 37px;
                }
            }
            

            .right-bod{
                gap: 3rem;
                .rights{
                    // border: 1px solid white;
                    width: 27%;

                    a, p{
                        padding: 4px 5px;
                    }
                }
            }

           
           }
        }
       }
    }
}
@media (width <= 920px) {
    .menu-modalCon{
        background-color: black;
        // height: unset;
        .overlay{
            top: 0;
            height: 100%;
            transform: skewY(0);

        }
       .modal{
        .menu-top{
            .top-mid{
                display: none;
            }
        }
       
        .menu-body{
            flex-direction: column-reverse;
            gap: 1rem;
            justify-content: unset;
            border-bottom: 1px solid white;
            .body-left{
                margin-top: unset;
                margin-bottom: 3rem;
                width: 50%;
                // height: fit-content;
                // border: 1px solid white;
                flex: 1 1 auto;
            img{
                width: 100%;
                height: 93%;
            }
           } 
           .body-right{
            flex: 1 1 auto;
            width: 100%;
            // border: 1px solid white;
            // gap: 1rem;

            .logo1-con{
                .logo1{
                    font-size: 37px;
                }
            }
            .main-right{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            // border: 1px solid white;

                // height: 300px;
        
                
                .right-bod{
                    gap: 0rem;
                    .rights{
                        width: 31%;
                        height: fit-content;
                        a, p{
                            padding: 2px;
                        }
                    }
                }
            }

            .hidden-menu{
               padding: 3px;
               padding-bottom: 1rem;
               border-bottom:1px solid white ;
               width: 100%;
               h6{
                padding-bottom: 9px;
                font-size: 12px;
               font-weight: 400;

               }
            }
           }
        }
       }
    }
 
}
@media (width <= 570px) {
    .menu-modalCon{
        // border: 1px solid white;
        // height: unset;
        .overlay{
            height: 100%;
        }
        .modal{
            height: unset;
            gap: 1rem;
            .menu-body{
                gap: 0rem;
                // height: 90%;
                margin-bottom: 5rem;
                border-bottom: unset;

                .body-left{
                    // margin-top: -2rem;
                    width: 100%;
                    border-bottom: 1px solid white;
                    flex: unset;
                img{
                    width: 100%;
                    height: 93%;
                }
                .left-bot{
                    flex-direction: column;
                    gap: 5px;
                    margin-bottom: 3rem;


                }
            }
                .body-right{
                    height: 110vh;
                    // width: 100%;
                    flex-direction: column;
                    // border: 1px solid white;
                    // flex: unset;
                    .main-right{
                        display: flex;
                        flex-direction: column;
                        gap: 0.7rem;
                        height: 70%;
                        // border: 1px solid white;
                        
                        .right-bod{
                            flex-direction: column;
                            // height: 90%;
                        // border: 1px solid white;

                            .rights{
                                width: 40%;
                                a, p{
                                    padding: 2px;
                                    padding-bottom: 7px;
                                }
                            }
                        }
                       
                    }
                    .logo1-con{
                        flex-direction: column;
                        align-items: unset;
                        gap: 1rem;
                        .logo1{
                            font-size: 21px;
                        }
                    }
                }
                
            }
        }
    }
  
}
@media (width <= 420px) {
    .menu-modalCon{
        // height: unset;
        .overlay{
            // height: 190vh;
        }
        .modal{
           
        .menu-body{
            .body-right{
                height: 86vh;
                // border: 1px solid white;
                .main-right{
                    display: flex;
                flex-direction: column;
                gap: 0.7rem;
                    .right-bod{
                        width: 100%;

                        .rights{
                            width: 70%;
                            a, p{
                                padding: 2px;
                                padding-bottom: 7px;
                            }
                        }
                    }
                }
            }
        }
           
        }
    }
}
@media (width <= 399px) {
    .menu-modalCon{
        border: 1px solid white;
        .overlay{
            // height: unset;

        }
        .modal{
            height: 100%;
            .menu-body{
                .body-right{
                    height: 90vh;
                    // display: none;
                    .main-right{
                        display: flex;
                        flex-direction: column;
                        gap: 0.7rem;
                        // height: 90%;
                        // height: vw;
        
                       
                        
                    }
                }
            }
     
         
        }
    }
}
@media (width <= 375px) {
    .menu-modalCon{
        .overlay{
            // height: 250vh;

        }
        .modal{
            .menu-body{
                .body-right{
                    height: 115vh;
                    .main-right{
                        display: flex;
                        flex-direction: column;
                        gap: 0.7rem;
                        // height: 144vh;
        
                        
                        
                    }
                }
             
            }
            
        }
    }
}
@media (width <= 300px) {
    .menu-modalCon{
        .overlay{
            // height: 250vh;

        }
        .modal{
            .menu-body{
                .body-right{
                    height: 130vh;
                    .main-right{
                        display: flex;
                        flex-direction: column;
                        gap: 0.7rem;
                        // height: 144vh;
        
                        
                        
                    }
                }
             
            }
            
        }
    }
}
@media (width >= 990px) {
    .menu-body{
        .body-right{
            .hidden-menu{
                display: none;
               
            }
        }
    }
}