body.active-modal{
    overflow-y: hidden;
  }
.nav-bar{
    width: 100%;
    height: 10%;
    position: fixed;
    display: flex;
    z-index: 7;
    justify-content: space-between;
    mix-blend-mode: difference;
  
    .logo1-con{
        margin: 2rem;
        // display: none;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        a{
            color: white;
            
            h3{
                font-size: 29px;
            }
            p{
                font-size: 12px;
            }
           
        }
    
        // ul li{
        //     color: white;
        // }
    
        .dropdown{
            width: max-content;
            display: relative;
            z-index: 100;
            
            .drop-btn{
                background: none;
                border: none;
                color: white;
                font-weight: 600;
            }
            
            .menu{
                opacity: 0;
             //    top: 15px;
             //    bottom: 0;
                 height: 1%;
                position: absolute;
                z-index: 101;
                transition: 1.2s ease-in-out;
             //    bottom: 15px;
                overflow: hidden;
                
 
                 a{
                     font-size: 14px;
                     
                 }
                
             }
             &:hover{
               .menu{
                opacity: 1;
                height: 100%;
               }
             }
           
        }
       
       
    
    }
    .logo2-con{
        display: none;
        // opacity: 0;
        margin: 2rem;
        //  display: flex;
        flex-direction: row;
        gap: 1.5rem;

       
        a{
            color: white;
            font-weight: 600;
    
           
        }

        .dropdown{
            width: max-content;
            display: relative;
            z-index: 100;
            
            .drop-btn{
                background: none;
                border: none;
                color: white;
                font-weight: 600;
            }
            
            .menu{
               opacity: 1;
            //    top: 15px;
            //    bottom: 0;
               transform: scale(0);
               position: absolute;
               z-index: 101;
               transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
            //    bottom: 15px;
               overflow: hidden;
               

                a{
                    font-size: 14px;
                    
                }
               
            }
            &:hover{
              .menu{
               opacity: 1;
               transform: scale(1);
              }
            }
           
        }
        
    }
    
    
    

    nav{
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin: 2.5rem;
        background: transparent;
        font-weight: 700;


        a{
            text-decoration: none;
            color: white;
            font-size: 12px;

            &:hover{
                color: wheat;
            }
        } 
        .dropdown{
            display: flex;
            flex-direction: column;
            // gap: 4rem;
            // width: 7rem;
            height: 6rem;
            // z-index: 100;
            position: relative;



            
            .drop-btn{
                background: none;
                border: none;
                color: white;
                font-weight: 600;
                font-size: 12px;
                position: relative;
                // bottom: 1%;
                

            }
            
            .menu{
                
                opacity: 0;
                top: 20%;
                right: -49%;
                // left: 0;
             //    bottom: 0;
                 height: 1%;
                position: absolute;
                z-index: 101;
                transition: 1.2s ease-in-out;
             //    bottom: 15px;
                overflow: hidden;
                background-color: #fff;
                // border: 1px solid white;
                width: 6rem;
                
 
                 a{
                     font-size: 12px;
                color: #000;

                &:hover{
                    color: aqua;
                }
                     
                 }
                 ul{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding: 5px;

                 }
                
             }
             &:hover{
               .menu{
                opacity: 1;
                height: 80%;
               }
               
             }
           
        }
        .menu{
            position: relative;
            transition: all 0.3s ease-out;
            &::after{
                content: '';
                position: absolute;
                width: 60%;
                height: 0.175rem;
                left: 21%;
                // right: 5;
                bottom: -20px;
                background: #fff;
                transition: all 0.3s ease-out;

            }

            &:hover{
                color: #fff;
            }

        }
       
       
    }
}
@media (width <= 920px) {
    nav{
        .hide{
            display: none;
        }
    }
}

