.addresses{
    display: flex;
    flex-direction: column;
    height: 110vh;
    position: relative;
    margin-bottom: 3rem;
    

    .title{
        width: 100%;
        // height: 100%;
        position: absolute;
        text-align: right;
        // display: flex;
        top: 6%;
        z-index: 7;
        overflow-x: hidden;
        mix-blend-mode: difference;

        h1{
            position: relative;
            font-size: 126px;
            // float: right;
            right: 19%;
            // top: 10%;
            width: 100%;
            // height: 100%;
            // z-index: ;
            font-weight: 200;
        }
    }
    .tril{
      position: relative;
        display: flex;
        width: 100%;

        .overlay{
            position: absolute;
            width: 89%;
            height: 82%;
            z-index: 1;
            background:white;
            opacity: 0.1;
            left: 5%;
            top: 20%;
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);               

        }
            .pics{
                position: relative;
                width: 100%;
                height: 44rem;
                z-index: 1;
                top: 18%;
                clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);               

                video{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    transition:  .2s ease-in;
                    // visibility: hidden;
                }
                .img1{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    transition: .2s ease-in;
                    visibility: hidden;
                    z-index: 4;
                }
                .img2{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    transition: .2s ease-in;
                    visibility: hidden;
                    z-index: 4;
                }
                .img3{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    transition: .2s ease-in;
                    visibility: hidden;
                    z-index: 4;
                } .img4{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    transition: .2s ease-in;
                    visibility: hidden;
                    z-index: 4;
                }
                .show{
                    visibility: visible;
                }
                // &::before{
                //     content:'';
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 90px;
                //     background: #000;
                //     z-index: 5;
                //     clip-path: polygon(0 0, 100% 0, 100% 19%, 0 100%);               
                //  }
            }
            .tril-text{
                position: absolute;
                display: flex;
                overflow-x: hidden;
                width: 100%;
                height: 100%;
                top: 30%;
                .main-text{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    width: 100%;
                
                    // gap: 2.5rem;

                    div{
                        z-index: 5;
                    height: 8rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    }

                    h1{
                        font-size: 52px;
                        position: relative;
                        font-weight: 300;
                        left: 13%;

                    }
                    h2{
                        position: relative;
                        right: 2%;
                        // top: 0%;
                        opacity: 0;
                        font-weight: 300;
                    }
                    .bloom{
                        position: relative;
                        right: 2%;
                        // top: 33%;
                        // visibility: hidden;
                        transition:  .1s ease-out;
                        // transition-delay: .4s ;
                    }
                    .shows{
                        opacity: 1;
                        transition: 1s ease-in;
                    }
                    .place{
                        position: relative;
                        left: 15%;
                        mix-blend-mode: difference;
                        font-weight: 300;
                        word-spacing: 3px;
                    }
                }
                .transit-div{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    // gap: 2.5rem;
                    width: 100%;
                    height: 100%;
                    transition: 0.3s ease-in;

                    div{
                    position: relative;
                    align-items: center;
                    height: 8rem;
                    top: 25%;
                    width: 0%;
                    z-index: 3;
                    // clip-path: polygon(0 0, 0 100%, 100% 80%, 0 100%);               

                    // mix-blend-mode: difference
                      
                    }
                    .six{
                        position: relative;
                        align-items: center;
                        width: 0%;
                        z-index: 3;
                        // visibility: hidden;
                        // mix-blend-mode: difference;
                        transition: .5s ease-in-out;
                        background: black;
    
                    }
                    .pas{
                        position: relative;
                        align-items: center;
                        width: 0%;
                        z-index: 3;
                        // visibility: hidden;
                        // mix-blend-mode: difference;
                        transition: .5s ease-in-out;
                        background: black;
    
                    }
                    .stud{
                        position: relative;
                        align-items: center;
                        width: 0%;
                        z-index: 4;
                        // visibility: hidden;
                        // mix-blend-mode: difference;
                        transition: .5s ease-in-out;
                        background: black;
    
                    }
                    .hold{
                        position: relative;
                        align-items: center;
                        width: 0%;
                        z-index: 4;
                        // visibility: hidden;
                        // mix-blend-mode: difference;
                        transition: .5s ease-in-out;
                        background: black;
    
                    }
                    .showed{
                        width: 100%;
                    }

                    

                }
                
            }
        
    }
}
@media (width <= 1300px) {
    .addresses{
        .title{
            top: 7%;

            h1{
            font-size: 110px;
            right: 15%;
            }
        }
        .tril{
            .overlay{
                top: 24%;

            }
           .pics{
            height: 45rem;
            top: 20%;
           } 
           .tril-text{
            .main-text{
                div{
                    h2{
                        // display: none;
                    }
                }
            }
           }
        }
    }
}
@media (width<=1100px) {
    .addresses{
        .tril{
            .tril-text{
                .main-text{
                    div{
                        h2{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media (width <= 1030px) {
    .addresses{
        .title{
            top: 7%;

            h1{
            font-size: 100px;
            right: 15%;
            }
        }
        .tril{
            .overlay{
                top: 19%;

            }
           .pics{
            top: 15%;
           } 
           .tril-text{
            .main-text{
                div{
                    h2{
                        display: none;
                    }
                }
            }
           }
        }
    }
}
@media (width <= 920px) {
    .addresses{
        height: unset;
        .title{
            top: 3%;
            text-align: center;
            h1{
            font-size: 56px;
            right: 0;
            }
        }
        .tril{
// 
            // fi
            height: 70%;
            .overlay{
                top: 19%;
                height: 100%;
            }
           .pics{
            top: 15%;
            display: none;
           } 
           .tril-text{
            position: relative;
            height: 95%;
            // top: 50%;


            .main-text{

                div{
                    h2{
                        display: none;
                    }
                    h1{
                        font-size: 35px;
                        word-spacing: 3px;
                        left: 10%;
                    }

                }
                .place{
                    left: 10%;
                    top: 8%;
                }
            }
            .transit-div{

                div{
                    top: 33%;
                    display: none;
                }
            }
           }
        }
    }
}
@media (width <= 600px) {
    .addresses{
        height: 70vh;
        .title{
            top: 27%;
            text-align: center;
            h1{
            font-size: 45px;
            right: 0;
            }
        }
        .tril{
            height: 43rem;
            .overlay{
                top: 19%;
                height: 85%;
                width: 92%;
                left: 4%;
            }
           .pics{
            top: 15%;
            display: none;
           } 
           .tril-text{
            position: relative;
            top: 40%;

            .main-text{
                // gap: 2rem;
                div{
                    height: 5rem;

                    h2{
                        display: none;
                    }
                    h1{
                        font-size: 30px;
                        word-spacing: 3px;
                        left: 5%;
                    }
                }
                .place{
                    left: 5%;
                    top: unset;
                    
                }
            }
            .transit-div{

                div{
                    top: 33%;
                    display: none;
                }
            }
           }
        }
    }
}
@media (width <= 420px) {
    .addresses{
        height: 70vh;
        .title{
            top: 33%;
            text-align: center;
            h1{
            font-size: 40px;
            right: 0;
            }
        }
        .tril{
            height: 44rem;
            .overlay{
                top: 19%;
                height: 80%;
                width: 92%;
                left: 4%;
            }
           .pics{
            top: 15%;
            display: none;
           } 
           .tril-text{
            position: relative;
            top: 40%;

            .main-text{
                // gap: 2rem;
                div{
                    height: 5rem;

                    h2{
                        display: none;
                    }
                    h1{
                        font-size: 22px;
                        word-spacing: 3px;
                        left: 5%;
                    }
                }
                .place{
                    left: 5%;
                }
            }
            .transit-div{

                div{
                    top: 33%;
                    display: none;
                }
            }
           }
        }
    }
}